/* {
	border:1px solid blue;} */
 #prva {
	position:static; 
	top:30px; 
	left:238px; 
	width:300px;
	height:370px;
	border:3px solid black;
 }
 
  #druga {
	position:static; 
	top:30px; 
	left:545px; 
	width:300px;
	height:370px;
	border:3px solid black;
 }
 
  #treca {
	position:static; 
	top:30px; 
	left:852px;	
	width:300px;
	height:370px;
	border:3px solid black;
 }
 
 #cetvrta {
	position:static;
	top:406px;
	left:239px;
	width:912px;
	height:210px;
	border:3px solid black;
 }
 
 .dugme1 {
	 position:absolute;
	top:750px;
	left:500px;
	width:300px;
	height:300x; 
 }
 button.dugme1 {
	 margin-top:20px;
	 margin-bottom:20px;
	 height:200px;
 }